.panelTips{
	background:#FFF;
	height:40px;
	line-height: 40px;
	padding-left:40px;
	font-size:16px;
	border-bottom:1px dashed #E24949;
}
.recordMenu{
	min-height:400px;
}
.recordMenuItem{
	height:80px;
	line-height: 60px;
	padding:15px;
	border-bottom:1px solid #C4B2B2;
}
.recordMenuItem img{
	float:left;
}
.recordMenuItem span{
	padding-left:20px;
}
/* #growthPanel{
	display:none;
} */
.modalPanel{
	text-align:center;
	color:#E24949;
	font-size:16px;
	font-weight: bold;
	padding:10px;
	border-bottom:1px dashed #E24949;
}
#healthForm{
	height:80%;
	background:#FFF;
}
#birthForm{
	height:80%;
	background:#FFF;	
}
.babyForm{
	height:80%;
	background:#FFF;
}

/*胎动记录*/
.movementHeader{
	width: 100%;
	margin-top:5px;
	padding-bottom:10px;
	border-bottom:1px dashed red;
}
.floatTips{
	width:70px;
	text-align: center;
	float: right;
}
.movementTitle{
	width:100px;
	padding:0;
	margin:0 auto;
	text-align: center;
	color:#E24949;
	font-weight: bold;
	font-size: 16px;
}
.movementPanel{
	text-align: center;
	margin: 20px auto 0px auto;
	width:100px;
}

#movementNum{
	width:65px;
	text-align: right;
}

.movementUnit{
	color:black;
	font-weight: bold;
	margin-top: 12px;
	text-align:left;
	width:100px;
}

/*随手记样式*/
.backBtn-plain{
	font-size: 24px;
	border:1px solid red;
}

/*.x-stretched.x-container{
	display: none;
}
*/
.notebookList{
	/*height: 40px;*/
}

.closeBtn-plain{
	border-right: 1px solid gray;
}

.hideDeleteImg{
	display: none;
}

.notebookName{
	/*height: 32px;*/
	line-height: 30px;
	/*border:1px solid red;*/
}

.slide ,.slidenav-list {
    -webkit-animation-duration: .200s;
	-webkit-transition-timing-function: cubic-bezier(0.275, 0.080, 0.425, 0.855); 
}

.slide{
	background: #fff;
	z-index: 2;
}

.x-toolbar{
    z-index: 1000 !important;
}

@-webkit-keyframes slideout {
    from { 
				-webkit-transform: translateX(0px); 
} to {
				-webkit-transform: translateX(-250px); 
}}

@-webkit-keyframes slidein {
    from { -webkit-transform: translateX(-250px); }
to { -webkit-transform: translateX(0px); }
}

.slide.out {
    -webkit-animation-name: slideout;
    -webkit-transform: translateX(-250px);
}

.slide.in {
    -webkit-animation-name: slidein;
    -webkit-transform: translateX(0px);
}

.slidenav-list{
    position: absolute !important;
    height: 100%;
	right:0;
	z-index: 1;
	width:250px;
	/*-webkit-box-shadow: inset -15px 0px 30px -15px rgba(0,0,0,1);*/
	/*background: #222;*/
}

.notebookListItem{
	min-height: 0px;
	/*max-height: 50px;*/
	padding-top:-5px;
}

.x-list .x-list-item.x-list-item-tpl.notebookListItem .x-innerhtml{
	padding:6px 15px;
}

/*删除模式的样式*/
.x-list-normal.DelNoteList .x-list-item.x-item-selected.x-list-item-tpl{
	background-color: #F7F7F7;
}

.x-list-normal.DelNoteList .x-list-item.Listitem-del.x-list-item-tpl{
	background-color: #ccc;
}
/*删除模式样式-----结束*/

/*笔记本操作模态对话框样式*/
.nbModal_title{
	/*text-align:center;
	color:#E24949;
	font-size:16px;
	font-weight: bold;
	padding:10px;
	border-bottom:1px dashed #E24949;*/
}

.nbModelList{
	background-color: #fff;
	overflow: hidden;
}

.nbModelListItem{
	min-height: 20px;
	max-height:20px;
	font-size:13px;
}

.nbModelTf{
	border:1px solid #ccc;
	padding-left:8px;
	margin-top:15px;
	margin-bottom: 10px;
	border-radius: 5px;
	/*height: 200px;*/
}

.nbModelTf input{
	font-size: 15px;
	line-height: 30px;
	
}

.nbTips{
	margin-top:-5px;
	font-size: 12px;
	color:red;
	padding-bottom: 5px;
	/*padding:0px 15px;*/
}
/*笔记本操作模态对话框样式----结束*/

/*信息提示样式*/
.infTipsModal{
	position: absolute;
	bottom: 50px;
	font-size: 13px;
	background-color: #000;
	color: #fff;
	opacity: 0.5;
	margin:0 auto;
	left:50%;
	margin-left:-40px;
	line-height: 30px;
	text-align: center;
	z-index:999;
}
/*信息提示样式-----结束*/

.noteTitile{
	/*font-weight: bold;*/
	font-size: 15px;
	font-family: "Microsoft Yahei";
}

.noteDate{
	color:#E24949;
	font-size: 0.5em;
	padding-top:4px;
}

.noteContent{
	font-size: 13px;
	color:#777;
	padding-top:6px;
	line-height: 20px;
}

.addNote{
	position: absolute;
	text-align: center;
	line-height: 400px;
	right:10px;
	bottom:10px;
	width:40px;
	border:1px solid red;
	border-radius: 20px;
	background-color:#E24949;
	color:white;
	opacity:0.8;
}

.addNote .x-button{
	color:white;
	right:3px;
}
.testGroup .x-list-header{
	/*background-color: white;*/
	margin-bottom:15px;
}

.note-form{
	width:100%;
}
.note-titleBar{
	height: 48px;
}
.spacer{
	background-color: #fff;
}

.note-bottom{
	height: 47px;
}

.testPanel{
	border-bottom:1px solid #E24949;
}

.x-input-el{
	width:100%;
}

.textarea-note{
	padding:0;
	margin: 0;
	overflow: hidden;
	height:505px;
	background-color: #FFF;
	border-bottom: 1px solid #E24949;
}
.textarea-note textarea{
	height:505px;
}

.note-builddate{
	padding:5px;
	line-height: 36px;
    background-color: #FFF;
}

.note-blong{
	width:150px;
}

.note-blong input{
	text-align:right;
	padding:0;
	padding-right: 40px;
	width: 150px;
	overflow: hidden;
}

.noteTips{
	margin-top:-20px;
	font-size: 12px;
	color:red;
	padding:3px 15px;
}

/* 药品药箱 */
.medMenuItem{
	padding-left:10px;
	clear: both;
	overflow: hidden;
}
.medMenuItem img{
	float:left;
}
.medMenuItem .medBoxTitle{
	float:left;
	padding-left:20px;
}
.medMenuItem .medBoxTitle .medBoxName{
	font-size:15px;
	font-weight: 700;
	line-height: 25px;
}
.medMenuItem .medBoxTitle .medBoxMark{
	font-size:13px;
	color:#858383;
}
.more{
	float:right;
	font-weight: bold;
	color:#E24949;
}
.medMore{
	float:right;
	font-size:14px;
	line-height:50px;
}
.subBtn{
	width:100%;
	margin-bottom: 10px;
}
.resetBtn{
	width:100%;
}
.deadline{
	font-size:14px;
	color:red;
	padding-left:5px;
}
.deadlineDesc{
	font-size:13px;
	color:#858383;
}
#medId{
	display:none;
}	
.medAddTip{
	transition: all .3s;
	position:fixed;
	width:100%;
	height:140px;
	bottom:-140px;
	background:#FFF;
	transition: all .3s;
}
.medAddTip.show{
	bottom:0px;
}
.medAddTipBtn{
	border-radius: 0px;
	border:0px;
	margin: 0px 0px 0px 0px;
	padding:10px;
	background:#FFF;
	color:#FF4444;
	border-bottom:5px solid #F8F8F8;
}


/*为图表中选择科目的列表定义的样式	--TanShichang 2014-01-14*/
.subject_select{
	max-width: 5em;
}
.searchField{
	position: absolute;
	width:70%;
	left:30%;
	margin-left:-15%;
	top:50%;
	margin-top:-25px;
}

.searchField input{
	line-height: 38px;
	color:gray;
}

.note-titleBar.x-toolbar .x-field{
	width:70%;
}

.highLight{
	background-color: yellow;
}

.detailTitle{
	border-bottom:1px solid #ccc;
	font-size: 1.1em;
	padding-bottom:5px;
}

.personalList{
	height: 300px;
}


/*我的样式*/
.personalViewe{
	/*background-color: gray;*/
}

.psnSim{
	/*height: 73px;*/
	height: 80px;
	margin-top:20px;
	/*margin-*/
}

.personalImg{
	float:left;
	padding-left:15px;
	width:60px;
	height: 60px;
	border-radius: 30px;
	/*border:1px solid #ccc;*/
}

.personalImg>img{
	width:60px;
	border-radius: 30px;
	border:1px solid #aaa;
}

.personalName{
	font-size: 0.8em;
	padding:8px 0px 0px 82px;
	margin:0;
	text-align: left;
	font-weight: 700;
}

.personalId{
	font-size: 0.3em;
	padding:0px 0px 0px 82px;
	color:#858383;
	margin:0;
	font-weight: normal;
	text-align: left;
}

.x-button.x-button-plain.psnSim, .x-toolbar .x-button.x-button-plain.psnSim{
	height:73px; 
	background-color: white;
	/*border-*/
}

.x-button.x-button-plain.psnMenu, .x-toolbar .x-button.x-button-plain.psnMenu{
	height:40px; 
	background-color: white;
	/*border-*/
}

.psnMenu{
	margin-top: 20px;
}

.psnItemImg{
	display: block;
	padding-left: 15px;
	padding-top:4px;
	float:left;
	
}

.psnItemImg>img{
	width:32px;
	/*border:1px solid red;*/
}

.psnItemTitle{
	text-align: left;
	padding:11px 0px 0px 50px;
	font-size: 15px;

}

.x-button.x-button-plain.psnMenuPres, .x-toolbar .x-button.x-button-plain.psnMenuPres{
/*	background-color: yellow;
	border:1px solid red;
	height: 100px;*/
}
