/*我的样式*/
.x-button.psnSim{
	border-radius: 0; /*去除button的圆角*/
}

.x-button.psnMenu{
	border-radius: 0; /*去除button的圆角*/
}

.psnSim{
	/*height: 73px;*/
	height: 80px;
	margin-top:20px;
	/*margin-*/
}

.personalImg{
	float:left;
	padding-left:15px;
	width:60px;
	height: 60px;
	border-radius: 30px;
	/*border:1px solid #ccc;*/
}

.personalImg>img{
	width:60px;
	border-radius: 30px;
	border:1px solid #aaa;
}

.personalName{
	font-size: 0.8em;
	padding:8px 0px 0px 82px;
	margin:0;
	text-align: left;
	font-weight: 700;
}

.personalId{
	font-size: 0.3em;
	padding:0px 0px 0px 82px;
	color:#858383;
	margin:0;
	font-weight: normal;
	text-align: left;
}

.x-button.x-button-plain.psnSim, .x-toolbar .x-button.x-button-plain.psnSim{
	height:73px; 
	background-color: white;
	/*border-*/
}

.x-button.x-button-plain.psnMenu, .x-toolbar .x-button.x-button-plain.psnMenu{
	height:40px; 
	background-color: white;
	/*border-*/
}

.psnMenu{
	margin-top: 20px;
}

.psnItemImg{
	display: block;
	padding-left: 15px;
	padding-top:4px;
	float:left;
	
}

.psnItemImg>img{
	width:32px;
}

.psnItemTitle{
	text-align: left;
	padding:11px 0px 0px 50px;
	font-size: 15px;

}

/*取消button点击背景光亮，并在tap时候置灰*/
.x-button.x-button-plain.x-button-pressing.psnMenu,.x-button.x-button-plain.x-button-pressing.psnSim{
	background-color: #ccc;
	background-image: none;
}
